bin/Debug/net8.0/LearningCSharp.dll
bin/Debug/net8.0/LearningCSharp.exe
bin/Debug/net8.0/LearningCSharp.pdb
obj/Debug/net8.0/ref/LearningCSharp.dll
obj/Debug/net8.0/refint/LearningCSharp.dll
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/LearningCSharp.AssemblyInfo.cs
obj/Debug/net8.0/LearningCSharp.AssemblyInfoInputs.cache
obj/Debug/net8.0/LearningCSharp.dll
obj/Debug/net8.0/LearningCSharp.pdb
obj/Debug/net8.0/LearningCSharp.sourcelink.json
