################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/LearningCSharp/FileContentIndex/874a91f1-2dcf-41a4-922b-f41e61c0e080.vsidx
/.vs/LearningCSharp/FileContentIndex/f2a1181a-e63e-4d16-a5a4-c99ae8090729.vsidx
/Calculator/.vs/Calculator_Leer/FileContentIndex/4b16b4d8-a808-453b-9a00-d9b4d3b8db85.vsidx
/Memory_Leer/.vs/Memory/FileContentIndex/d1781c73-35ce-4003-9158-dff799239f8b.vsidx
