################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/LearningCSharp/FileContentIndex/874a91f1-2dcf-41a4-922b-f41e61c0e080.vsidx
/.vs/LearningCSharp/FileContentIndex/f2a1181a-e63e-4d16-a5a4-c99ae8090729.vsidx
